.idea/
encodings.xml
.lib/
.out/
/src/main/java/xMain/
/savedData/
/savedImages/
/tmp
/src/main/resources
/src/test/resources
/target
.gitignore
MyMovieManager.iml
MyMovieManager_exported.xml
/.idea/misc.xml