.root {
    background_color: #212121;
    my_blue: #69c5e9;
    my_green: #8fbf56;
    dark_blue: #212832;
    dark_blue2: rgba(27, 40, 56, 1);
    light_gray: #434953;
    some_gray: #888888;
    almost_white: #ebebeb;
}

.background-color {
    -fx-background-color: background_color;
}

.borders {
    -fx-border-color: light_gray;
    -fx-border-width: 2;
    -fx-border-radius: 10px;
}

.separator *.line {
    -fx-border-style: solid;
    -fx-border-width: 1;
    -fx-border-color: light_gray;
}

.scroll-pane > .viewport {
   -fx-background-color: transparent;
}



.scroll-bar: vertical,
.scroll-bar: horizontal {
    -fx-background-color: transparent;
}

.scroll-bar: vertical .track,
.scroll-bar: horizontal .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar: vertical .thumb,
.scroll-bar: horizontal .thumb {
     -fx-background-color: light_gray;
     -fx-background-radius: 5em;
 }


.range-slider .track {
    -fx-background-color: some_gray;
    -fx-text-fill: almost_white;
 }

.range-slider .axis {
    -fx-tick-label-fill: almost_white;
}

.range-slider .range-bar {
    -fx-background-color: my_blue;
}

.range-slider .low-thumb {
    -fx-shape: "M2.998-0.07L3-1.499l2.998,4L3,6.501l-0.002-1.43l1.976-2.57L2.998-0.07z";
}
.range-slider .high-thumb {
    -fx-shape: "M5.997,5.072L5.995,6.501l-2.998-4l2.998-4l0.002,1.43l-1.976,2.57L5.997,5.072z";
}