@import "basic.css";

.button {
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;

    -fx-border-color: transparent;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
}

.button: hover {
    -fx-border-color: my_green;
    -fx-border-width: 2;
    -fx-border-radius: 10px;
}

.button: pressed {
    -fx-border-color: almost_white;
    -fx-border-width: 2;
    -fx-border-radius: 10px;
}


.button .tooltip, .menu-button .tooltip, .label .tooltip {
      -fx-font-family: Verdana;
      -fx-text-fill: almost_white;
      -fx-background-color: rgba(33, 40, 50, 0.8);
      -fx-background-transparent: 0.8;
      -fx-background-radius: 6px;
      -fx-background-insets: 0;
      -fx-padding: 0.667em 0.75em 0.667em 0.75em; /* 10px */
      -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.5) , 10, 0.0 , 0 , 3 );
      -fx-font-size: 16;
 }

.menu-button {
    -fx-background-color: transparent;

    -fx-border-color: transparent;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
}

.menu-button: hover {
    -fx-border-color: my_green;
    -fx-border-width: 2;
    -fx-border-radius: 10px;
}

.menu-button: pressed {
     -fx-border-color: almost_white;
     -fx-border-width: 2;
     -fx-border-radius: 10px;
 }
