@import "basic.css";

.context-menu .label {
    -fx-font-family: Verdana;
    -fx-font-size: 14;
    -fx-text-fill: almost_white;
    -fx-font-weight: bold;
    -fx-padding: 5 15 5 15;
}

.menu-item:focused .label {
    -fx-text-fill: my_blue;
}

.context-menu .menu-item:focused {
    -fx-text-inner-color: my_blue;
    -fx-text-fill: my_blue;
    -fx-background-color: dark_blue;
}


.context-menu {
     -fx-background-color: light_gray;
     -fx-background-insets: 0, 1, 2;
     -fx-background-radius: 0 6 6 6, 0 5 5 5, 0 4 4 4;
 }

.menu > .right-container > .arrow {
     -fx-background-color: almost_white;
}

.menu:focused > .right-container > .arrow {
    -fx-background-color: my_blue;
}

.context-menu .separator:horizontal .line {
    -fx-border-color: dark_blue;
    -fx-border-insets: 5;
}

.check-box {
    -fx-text-fill: almost_white;
}

.check-box .box {
    -fx-background-color: transparent;
    -fx-border-color: my_blue;
    -fx-border-radius:3px;
}

.check-box:selected .mark {
    -fx-background-color: my_blue;
}

.check-box:selected .box {
    -fx-border-color: my_green;
}