@import "basic.css";

.blue_text {
    -fx-font-family: Verdana;
    -fx-font-size: 16;
    -fx-text-inner-color: my_blue;
    -fx-text-fill: my_blue;
    -fx-background-color: transparent;
    -fx-background-insets: 0px ;
}
